*.o
*.os
*.so

config-host.h
config.h
config-host.mak
config.mak

lsb-build-i386/

npconfig
npplayer
npviewer.bin
npviewer.sh

test-rpc-concurrent-client
test-rpc-concurrent-server
test-rpc-nested-1-client
test-rpc-nested-1-server
test-rpc-nested-2-client
test-rpc-nested-2-server
test-rpc-types-client
test-rpc-types-server
